/*------------ GÉNÉRAL ------------*/

*{
	box-sizing: border-box;
}

:root{
	--blanc: #fff;
	--darkGray: #141414;
	--lightGray: #9D9D9D;
}

body{
	margin: 0;
	font-family: "neue-haas-unica", sans-serif;
	font-size: 0.82rem;
	font-weight: 400;
	line-height: 1.3em;
	color: var(--darkGray);
	background: var(--blanc);
}

ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a{
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: var(--darkGray);
}

a:hover{
	color: var(--lightGray);
	transition:all ease-in 0.1s;
}


/*------------ NIVEAUX DE LECTURE TRANSVERSAUX ------------*/

h1{
	margin: 0;
	font-size: 1.7rem;
	font-weight: 400;
	line-height: 1.3em;
	letter-spacing: 0.1px;
	color:var(--blanc);
}

h2{
	margin: 0;
	font-size: 1.7rem;
	font-weight: 400;
	line-height: 1.3em;
	color:var(--darkGray);
}

h3, button{
	font-size: 0.82rem;
	font-weight: 400;
	line-height: 1.3em;
}

p, h3, button{
	margin: 0;
	height: auto;
	text-align: left;
	color: var(--darkGray);
}

.italic {
	font-style: italic;
}

.lightGray, .menu .lightGray {
	color:var(--lightGray);
}


/*------------ HEADER ------------*/


header{
	position: fixed;
	z-index:1;
	width: 100%;
	padding: 12px 24px 15px 24px;
	background: var(--darkGray);
}

.menu {
	display: flex;
	justify-content: space-between;
}

.menu li{
	flex-basis: 100%;
}

.menu li:nth-child(2){
	text-align: center;
}

.menu li:nth-child(3){
	text-align: right;
}

.menu a{
	text-decoration: none;
	color: var(--blanc);
}

.menu a:hover{
	color: var(--lightGray);
	transition:all ease-in 0.1s;
}


/*------------ HOMEPAGE ------------*/

.home_intro {
	min-height: calc(33.33vh + 16px);
	display: flex;
	align-items: flex-end;
	padding: 52px 24px 28px 24px;
	background: var(--darkGray);
	position: sticky;
	top:0;
	z-index:-1;
}

.home_grid {
    display:grid;
	/*grid-template-columns: repeat( auto-fill, minmax(450px, 1fr) );*/
	grid-template-columns: repeat(3, 1fr);
    width:100%;
	gap:8px;
	padding:8px;
	background-color: var(--blanc);
}

.home_article {
	width: 100%;
	aspect-ratio: 3 / 4;
}

.home_article figure {
    width:100%;   
	height:100%;
	margin:0;
}

.home_article figure img, .home_article figure video {
	width: 100%;
	height: 100%; 
	object-fit: cover;
}

.home_article figure[auto-slide] img, .home_article figure[auto-slide] video {
	position: absolute;
	width: 0;
	height: 0; 
	object-fit: cover;
}

.home_article figure[auto-slide] .auto-slide__img--active {
	position: static;
	width: 100%;
	height: 100%; 
}

.with_caption {
	aspect-ratio: auto;
	grid-column: 1/-1;
	height:auto;
	min-height: 33.33vh;
}

.project_caption {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	gap: 8px;
	height: 100%;
	position:relative;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 16px 0 16px 0;
	border-top: 1px solid var(--darkGray);
	border-bottom: 1px solid var(--darkGray);
}

.with_caption h2{
	width: 33.33%;
	padding-left:16px;
}

.with_caption .text_and_button{
	width: 33.33%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	gap: 15%;
}

.more{
	background:none;
	border:none;
	white-space: nowrap;
	opacity: 0;
	padding:0;
	color: var(--lightGray);
}

.with_caption:hover .more{
	opacity: 1;
	transition:all ease-in 0.1s;
}

.with_caption .date{
	width: 33.33%;
	padding-right:16px;
	text-align: right;
}


/*------------ INDEX DES PROJETS ------------*/

.index_content{
	width:100%;
	padding:52px 8px 8px 8px;
}

.index_article{
	width:100%;
	height:auto;
	min-height:350px;
	display: flex;
	flex-direction: row;
	justify-content: start;
	gap:8px;
	padding: 8px 0 8px 0;
	border-top: 1px solid var(--darkGray);
}

.index_article figure {
	margin:0;
	aspect-ratio: 3 / 4;
	overflow:hidden;
	width:20%;
}

.index_article:hover figure{
	opacity:1;
	transition:all ease-in 0.1s;
}

.index_article figure img, .index_article figure video {
	width: 100%;
	height: 100%; 
	object-fit: cover;
	filter: saturate(0);
}

.index_article:hover figure img, .index_article:hover figure video{
	filter: saturate(1);
	transition:all ease-in 0.1s;
}	

.index_text{
	width:60%;
	padding-left:35%;
	padding-right:5%;
}

.index_text > *{
	padding-top:8px;
}


/*------------ A PROPOS ------------*/

.about_content {
	width:100%;
	padding:52px 8px 8px 8px;
}

.about_content h1 {
	font-size: 0.82rem;
	line-height: 1.3em;
	color:var(--darkGray);
	padding-right:15%;
}

.about_content h2 {
	font-weight: 700;
	font-size: 0.82rem;
	line-height: 1.3em;
	padding-left:16px;
}

.about_content a:hover{
	color: var(--lightGray);
	transition:all ease-in 0.1s;
}

.about_content article{
	padding:8px 0px 32px 0px;
	border-top: 1px solid var(--darkGray);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap:8px;
}

.about_content article > * {
	width: 50%;
}


/*------------ RESPONSIVE ------------*/


@media only screen and (max-width:1224px) {

	h1, h2{
		font-size: 1.4rem;
   	}

	.home_grid {
		grid-template-columns: repeat(2, 1fr);
	}

	header{
		padding: 12px 8px 15px 8px;
	}

	.home_intro {
		padding:8px 8px 12px 8px;
	}

	.about_content h1 {
		padding-right:0;
	}

	.about_content h2 {
		padding-left:0px;
	}

	.project_caption {
		flex-direction: column;
		justify-content: end;
		align-items: flex-end;
		gap: 8px;
		padding: 0px;
		border-top: none;
	}

	.with_caption h2{
		width: 100%;
		padding:0;
	}

	.with_caption .date{
		width:100%;
		text-align: left;
		padding:8px 0px 8px 0px;
		border-top:1px solid;
	}

	.with_caption .text_and_button{
		width: 100%;
		padding-top:8px;
		border-top:1px solid;
	}

	.more{
		opacity:1;
	}

	.index_text{
		padding-left:15%;
		padding-right:16px;
	}

}


@media only screen and (max-width:500px) {

	h1, h2{
		font-size: 1.3rem;
   	}

	body, h3, button, .about_content h2, .about_content h1{
		font-size: 0.75rem;
	}

	.home_grid{
		grid-template-columns: repeat(1, 1fr);
	}

}
