/*------------ GÉNÉRAL ------------*/

*{
	box-sizing: border-box;
}

:root{
	--blanc: #F1F1F1;
	--darkGray: #181818;
	--lightGray: #9D9D9D;
}

body{
	margin: 0;
	font-family: "miller-text", serif;
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 1.3em;
	color: var(--blanc);
	background: var(--darkGray);
}

ol, ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a{
	margin: 0;
	padding: 0;
	text-decoration: none;
	color:var(--blanc);
}

a:hover{
	color: var(--lightGray);
	transition:all ease-in 0.1s;
}


/*------------ NIVEAUX DE LECTURE TRANSVERSAUX ------------*/

h1{
	margin: 0;
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 1.3em;
}

h2{
	margin: 0;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.3em;
}

h3, button{
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 1.3em;
}

p, h3, button{
	margin: 0;
	padding:0;
	height: auto;
	text-align: left;
}

button{
	background:none;
	border:none;
	font: inherit;
}

.italic{
	font-style: italic;
}

.roman{
	font-style: normal;
}

.english{
	opacity:.7;
	font-style: italic;
}


/*------------ HEADER ------------*/

header{
	position: fixed;
	z-index:1;
	top:9px;
	left:8px;
}

.menu{
	display: flex;
	flex-direction: row;
	justify-content: start;
	flex-wrap: wrap;
	gap:8px;
}

.menu a{
	padding:10px 16px 11px 16px;
	border: .7px solid var(--blanc);
	text-decoration: none;
	color: var(--blanc);
	display:block;
}

.menu a:hover{
	background-color: var(--blanc);
	transition:all ease-in 0.1s;
	color: var(--darkGray);
}


/*------------ HOMEPAGE ------------*/

.home_project{
	width:100%;
	max-height:95vh;
	min-height:75vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow:hidden;
}

.home_article{
	width:50%;
	/*height:100%;*/
	position:relative;
}

/*----- slideshow -----*/

.slideshow{
	aspect-ratio: 4 / 5;
}

.home_article figure {
    width:100%;   
	height:100%;
	margin:0;
}

.home_article figure img, .home_article figure video {
	width: 100%;
	height: 100%; 
	object-fit: cover;
}

.home_article figure[slider] img, .home_article figure[slider] video {
	position: absolute;
	width: 0;
	height: 0; 
	object-fit: cover;
}

.home_article figure[slider] .slider__img--active {
	position: static;
	width: 100%;
	height: 100%; 
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 0;
	height:100%;
	width: 50%;
	font-size: 2.5rem;
	padding: 16px;
	opacity:0;
	transition:all ease-in 0.1s;
	user-select: none;
	display:flex;
	flex-direction:row;
	align-items:center;
}

.next {
	right: 0;
	justify-content: flex-end;
}

.prev:hover, .next:hover {
	opacity:1;
}

/* Captions */
.slider__captions {
	position: absolute;
	bottom: 9px;
	right: 8px;
	font-variant-numeric: tabular-nums;
	display:flex;
	flex-direction:row;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap:8px;
}

.home_article figcaption, .home_article .slider__count{
	font-size: 0.8rem;
	line-height:1.1rem;
	padding:6px 10px;
	font-variant-numeric: tabular-nums;
}


/*----- text article -----*/

.with_caption{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 4% 3%;
}

.with_caption_content{
	width:100%;
	height:100%;
	max-width:420px;
	overflow:scroll;
	position:relative;
}

.project_head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: end;
	gap:16px;
	margin-left:35%;
	margin-bottom:12px;
	border-bottom:.7px solid;
	border-color: rgba(241, 241, 241, .5) ;
}

.with_caption h2{
	padding: 16px 0 10px 0;
}

.more{
	height:100%;
	padding:12px 16px 13px 16px;
	cursor: pointer;
	white-space: nowrap;
	color: var(--blanc);
	border-top:.7px solid;
	border-right:.7px solid;
	border-left:.7px solid;
	border-color: rgba(241, 241, 241, .5) ;
}

.more:hover{
	transition:all ease-in 0.1s;
	background-color: var(--blanc);
	color:var(--darkGray);
}

.project_description{
	display: flex;
	flex-direction: row;
	justify-content: start;
	width:100%;
}

.project_info{
	width:35%;
	padding-right:24px;
}

.project_captions{
	width:65%;
	position: relative;
}

.with_caption p{
	padding-bottom:10px;
}

.end_symbol{
	display: inline-block;
	white-space: nowrap;
	padding-top:9px;
}


/*----- text color -----*/

.text_black, .text_black button {
	color:var(--darkGray);
}

.text_black .project_head, .text_black .more, .text_black .project_info {
	border-color: rgba(24, 24, 24, .5) ;
}



/*------------ A PROPOS ------------*/

.about_content {
	width:100%;
	padding:240px 8px 8px 8px;
}

.about_content article{
	padding:8px 0px 40px 0px;
	border-top: .7px solid var(--blanc);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap:16px;
}

.about_content article > * {
	width: 50%;
	padding-right:15%;
}

.about_content h2 {
	font-size: 0.9rem;
}

.about_content li{
	padding-bottom:4px;
}



/*------------ RESPONSIVE ------------*/

@media only screen and (max-width:1280px) {

	.home_project{
		min-height:65vh;
	}

	.slideshow{
		width:70%;
	}

	.with_caption_content{
		max-width:273px;
	}

	.project_head{
		margin-left:0;
	}

	.project_description{
		flex-direction: column;
}

	.project_info{
		width:100%;
		padding-right:0;
		margin-bottom:12px;
		border-bottom:.7px solid;
		border-color: rgba(241, 241, 241, .5) ;
		padding-bottom:2px;
		display:flex;
		flex-direction: row;
		justify-content: flex-start;
		flex-wrap: wrap;
		gap:0 16px;
	}

	.project_captions{
		width:100%;
	}

	.about_content article > * {
		padding-right:3%;
	}

	.about_content h2 {
		width:35%;
	}

	.about_content p, .about_content ul {
		width:65%
	}

}

@media only screen and (max-width:1024px) {

	p, a, button, h1, ul, .about_content h2 {
		font-size:0.77rem;
		line-height:1.05rem;
	}

	.home_article figcaption, .home_article .slider__count{
		font-size: 0.7rem;
		line-height:1rem;
		padding:4px 8px;
		font-variant-numeric: tabular-nums;
	}

	.slideshow{
		width:80%;
	}
}


@media only screen and (max-width:640px) {

	.menu a{
		padding:7px 14px 8px 14px;
	}

	.home_project{
		width:100%;
		max-height:none;
		min-height:none;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		overflow:hidden;
	}

	.home_article{
		width:100%;
	}

	.with_caption{
		padding: 8% 8% 20% 8%;
		min-height:60vh;
		min-height:60dvh;
	}

	.prev, .next{
		opacity:1;
		font-size:2rem;
	}

	.with_caption_content{
		max-width:none;
		width:100%;
	}


	.project_description{
		flex-direction: row;
		justify-content: space-between;
}

	.project_info{
		width:35%;
		padding-right:24px;;
		margin-bottom:0;
		border-bottom:none;
		padding-bottom:0;
		display:block;
	}

	.project_captions{
		width:65%;
	}

}