/*------------ GÉNÉRAL ------------*/

*{
	box-sizing: border-box;
}

:root{
	--blanc: #F1F1F1;
	--darkGray: #181818;
	--lightGray: #9D9D9D;
}

body{
	margin: 0;
	font-family: "miller-text", serif;
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 1.3em;
	color: var(--blanc);
	background: var(--darkGray);
}

ol, ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a{
	margin: 0;
	padding: 0;
	text-decoration: none;
	color:var(--blanc);
}

a:hover{
	color: var(--lightGray);
	transition:all ease-in 0.1s;
}


/*------------ NIVEAUX DE LECTURE TRANSVERSAUX ------------*/

h1{
	margin: 0;
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 1.3em;
}

h2{
	margin: 0;
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1.3em;
}

h3, button{
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 1.3em;
}

p, h3, button{
	margin: 0;
	height: auto;
	text-align: left;
	font: inherit;
}

.italic{
	font-style: italic;
}

.english{
	opacity:.7;
	font-style: italic;
}


/*------------ HEADER ------------*/


header{
	position: fixed;
	z-index:1;
	top:8px;
	left:8px;
}

.menu{
	display: flex;
	flex-direction: row;
	justify-content: start;
	gap:8px;
}

.menu a{
	padding:10px 16px 11px 16px;
	border: .7px solid var(--blanc);
	text-decoration: none;
	color: var(--blanc);
	display:block;
}

.menu a:hover{
	background-color: var(--blanc);
	transition:all ease-in 0.1s;
	color: var(--darkGray);
}

/*------------ HOMEPAGE ------------*/

.home_project{
	width:100%;
	height:95vh;
	display: flex;
	flex-direction: row;
	justify-content: start;
	overflow:hidden;
}

.home_article{
	width:50%;
	height:100%;
	position:relative;
}

.home_article figure {
    width:100%;   
	height:100%;
	margin:0;
}

.home_article figure img, .home_article figure video {
	width: 100%;
	height: 100%; 
	object-fit: cover;
}

.home_article figure[slider] img, .home_article figure[slider] video {
	position: absolute;
	width: 0;
	height: 0; 
	object-fit: cover;
}

.home_article figure[slider] .slider__img--active {
	position: static;
	width: 100%;
	height: 100%; 
}

.with_caption{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 5% 3%;
}

.with_caption_content{
	width:100%;
	height:100%;
	max-width:420px;
	overflow:scroll;
}

.project_description{
	display: flex;
	flex-direction: row;
	justify-content: start;
	width:100%;
}

.project_info{
	width:35%;
	padding-right:24px;
}

.project_captions{
	width:65%;
	position: relative;
}

.with_caption h2{
	padding-left: 35%;
	padding-bottom:10px;
}

.with_caption p{
	padding-bottom:10px;
}

.caption-en{
	opacity:.7;
	font-style: italic;
}

.more{
	background:none;
	border:none;
	white-space: nowrap;
	padding:0;
	color: var(--blanc);
	padding:10px 15px 11px 15px;
	border: .7px solid var(--blanc);
	margin-top:8px;
}

.more:hover{
	background-color: var(--blanc);
	transition:all ease-in 0.1s;
	color: var(--darkGray);
}

.text_black, .text_black button{
	color:var(--darkGray);
}

.text_black .more{
	border: .7px solid var(--darkGray);
}


/*------------ SLIDESHOW ------------*/

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 0;
	height:100%;
	width: 50%;
	font-size: 1.8rem;
	padding: 16px;
	opacity:0;
	transition:all ease-in 0.1s;
	user-select: none;
	display:flex;
	flex-direction:row;
	align-items:center;
}

.next {
	right: 0;
	justify-content: flex-end;
}

.prev:hover, .next:hover {
	opacity:1;
	color:var(--darkGray);
}

/* Caption */
.slideshow_caption {
	padding-bottom:4vw;
	position: absolute;
	bottom: 0;
	left: 53vw;
	font-variant-numeric: tabular-nums;
	white-space: nowrap;
}




/*------------ A PROPOS ------------*/

.about_content {
	width:100%;
	padding:240px 8px 8px 8px;
}

.about_content h2 {
	font-weight:700;
	font-size: 0.9rem;
	line-height: 1.3em;
}

.about_content article{
	padding:8px 0px 40px 0px;
	border-top: .7px solid var(--blanc);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap:8px;
}

.about_content article > * {
	width: 50%;
	padding-right:15%;
}

.about_content li{
	padding-bottom:4px;
}



/*------------ RESPONSIVE ------------*/

@media only screen and (max-width:1224px) {



}