/*------------ GÉNÉRAL ------------*/

*{
	box-sizing: border-box;
}

:root{
	--white: #fcfcfc;
	--black: #181818;
	--gray: #989898;
}

body{
	margin: 0;
	font-family: "miller-text", serif;
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 1.3em;
	color: var(--black);
	background: var(--white);
}

ol, ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a{
	margin: 0;
	padding: 0;
	text-decoration: none;
	color:var(--white);
}

a:hover{
	color: var(--gray);
	transition:all ease-in-out 0.1s;
}


/*------------ NIVEAUX DE LECTURE TRANSVERSAUX ------------*/

h1{
	margin: 0;
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 1.3em;
}

h2, h3, button{
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 1.3em;
}

p, h2, h3, button{
	margin: 0;
	padding:0;
	height: auto;
	text-align:left;
}

.with_caption h2, .horizontal_image h2{
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

button{
	background:none;
	border:none;
	font: inherit;
}

.italic{
	font-style: italic;
}

.roman{
	font-style: normal;
}

.english{
	opacity:.6;
	font-style: italic;
}

sup{
	vertical-align: top;
	position: relative; 
	top: -0.5em;
}


/*------------ HEADER ------------*/

header{
	position: fixed;
	z-index:4;
	top:8px;
	left:7px;
}

.menu{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	gap:8px;
	margin-right:8px;
	max-width:100%;
}

.menu a{
	padding:10px 16px 11px 16px;
	border:0.7px solid var(--white);
	text-decoration: none;
	color: var(--white);
	display:block;
}

.menu a:hover{
	background-color: var(--white);
	transition:all ease-in-out 0.1s;
	color: var(--black);
}


/*------------ HOMEPAGE ------------*/

.home_project{
	width:100%;
	max-height:100dvh;
	min-height:85dvh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow:hidden;
	position:sticky;
	top:0;
	z-index:1;
	background-color: var(--white);
	padding:9px 8px;
}

.home_article{
	width:50%;
	position:relative;
}

/*----- slideshow -----*/

.slideshow_container{
	aspect-ratio: 4 / 5;
	height:auto;
	overflow:hidden;
}

.home_article figure {
    width:100%;
	height:100%;
	margin:0;
	overflow:hidden;
}

.home_article figure img, .home_article figure video {
	width: 100%;
	height: 100%; 
	object-fit: cover;
}

.home_article figure[slider] img, .home_article figure[slider] video {
	position: absolute;
	width: 0;
	height: 0; 
	object-fit: cover;
}

.home_article figure[slider] .slider__img--active {
	position: relative;
	width: 100%;
	height: 100%; 
}

.from_bottom{
	object-position: bottom;
}

.from_top{
	object-position: top;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 0;
	height:100%;
	width: 50%;
	font-size: 2.5rem;
	padding: 16px;
	opacity:0;
	transition:all ease-in-out 0.1s;
	user-select: none;
	display:flex;
	flex-direction:row;
	align-items:center;
	color:var(--white);
}

.next {
	right: 0;
	justify-content: flex-end;
}

.prev:hover, .next:hover {
	opacity:1;
}

.slider__captions {
	position: absolute;
	top: 10px;
	right:16px;
	display:flex;
	flex-direction:row;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap:16px;
	color:var(--white);
}

.slider__captions .slider__count{
	font-variant-numeric: tabular-nums;
}


/*----- text article -----*/

.with_caption{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items:start;
	margin-left:8px;
	border-top:0.8px solid;
	border-color: rgba(24, 24, 24, 0.7) ;
}

.with_caption_content{
	width:100%;
	max-width:500px;
	overflow:scroll;
	position:relative;
}

.with_caption_content::-webkit-scrollbar {
    display: none;  /* Hide scrollbar for Chrome, Safari and Opera */
}

.with_caption_content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.with_caption h2{
	padding: 8px 0 32px 35%;
}

.with_caption p{
	padding-bottom:8px;
}

.project_description{
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: flex-start;
	width:100%;
}

.project_info{
	width:calc(35% - 8px);
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 0 16px;
	padding:8px 16px 0 0;
	margin-right: 8px;
}

.project_captions{
	width:65%;
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	flex-wrap:wrap;
}

.project_captions > p{
	padding-top:8px;
	padding-right:20px;
	border-top:0.8px solid;
	border-color: rgba(24, 24, 24, 0.7) ;
	flex-grow:1;
	min-height:167px;
}

.end_symbol_english{
	opacity:.6;
}

.more{
	width:100%;
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	gap:10px;
	padding-top:8px;
	cursor: pointer;
	white-space: nowrap;
	border-top:0.8px solid;
	border-color: rgba(24, 24, 24, 0.7) ;
	transition: all ease-in-out 0.2s;
}

.more:hover{
	gap:20px;
}


/*----- big image -----*/


.horizontal_image {
	width:100%;
	height:auto;
	position:relative;
	padding:9px 8px;
	background-color: var(--black);
   	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap:24px;
	z-index: 2;
	transform: translate3d(0,0,0);
	color:var(--white);
}

.horizontal_image figure {
    width:100%;
	height:auto;
	margin:0;
	aspect-ratio: 4 / 3;
	min-height:95dvh;
	max-height:115dvh;
}

.horizontal_image img, .horizontal_image video {
	width: 100%;
	height: 100%; 
	object-fit: cover;
}

.horizontal_image .project_title {
	width:100%;
	padding:8px 0;
	gap:24px;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	border-top:0.7px solid var(--white);
}

.horizontal_image .project_title_head {
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap:4px 24px;
}


/*------------ A PROPOS ------------*/

.about_content {
	width:100%;
	padding:240px 8px 8px 8px;
	background-color: var(--black);
	position:relative;
	min-height:100dvh;
	transform: translate3d(0,0,0);
	color:var(--white);
}

.home_main .about_content{
	z-index:3;
	padding-top:9px;
}

.about_content article{
	padding:8px 0px 40px 0px;
	border-top:0.7px solid var(--white);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.about_content article > * {
	width: 50%;
	padding-right:15%;
}

.about_content h2 {
	font-size: 0.9rem;
	padding-right:24px;
}

.about_content li{
	padding-bottom:4px;
}

.indent{
	display:inline-block;
	padding-left:24px;
}



/*------------ RESPONSIVE ------------*/

@media only screen and (max-width:1440px){
	p, a, button, h1, ul, h2, .slider__captions {
		font-size:0.82rem;
		line-height:1.35em;
	}

	.with_caption_content{
		width:100%;
		max-width:460px;
		overflow:scroll;
		position:relative;
	}

	.project_captions > p{
		min-height:159px;
	}

}

@media only screen and (max-width:1280px){

	.slideshow_container{
		width:65%;
	}

	.slider__captions {
		top:auto;
		right:auto;
		bottom:10px;
		left:16px;
		flex-direction: row-reverse;
	}

	.with_caption{
		width:35%;
	}

	.with_caption_content{
		max-width:273px;
	}

	.with_caption h2{
		padding-left:0;
	}

	.project_description{
		flex-direction: column;
	}

	.project_info{
		width:100%;
		flex-direction: row;
		border-top:0.8px solid;
		border-color: rgba(24, 24, 24, 0.7) ;
	}

	.project_captions{
		width:100%;
	}

	.about_content h2 {
		width:35%;
	}

	.about_content p, .about_content ul {
		width:65%
	}

}


@media only screen and (max-width:1024px){

	.prev, .next{
		opacity:1;
		font-size:2rem;
		padding:10px;
	}

}	


@media only screen and (max-width:820px){

	.home_project{
		max-height:none;
		min-height:none;
		flex-direction: column;
		justify-content: flex-start;
		position:static;
		gap:8px;
		padding-bottom:80px;
	}

	.home_article{
		width:100%;
	}

	.slideshow_container, .slideshow_container figure{
		max-height:90dvh;
		min-height:100%;
	}

	.with_caption{
		margin:0;
	}

	.with_caption_content{
		max-width:460px;
	}

	.with_caption h2{
		padding-left:35%;
	}

	.project_description{
		flex-direction: row;
		justify-content: space-between;
	}

	.project_info{
		width:calc(35% - 8px);
		border:none;
		flex-direction: column;
	}

	.project_captions{
		width:65%;
	}

	.project_captions > p{
		min-height:159px;
	}

	.horizontal_image {
		display:none;
	}

	.home_main .about_content{
		padding-top:240px;
	}

	.about_content article > * {
		padding-right:20px;
	}

}


@media only screen and (max-width:640px) {

	.slideshow_container{
		max-height:none;
	}

}


@media screen and (min-aspect-ratio: 2.5){

	.home_project{
		max-height:none;
		min-height:none;
		position:static;
	}

	.slideshow_container{
		max-height:none;
	}	

	.horizontal_image figure {
		max-height:140dvh;
	}

}

@media screen and (max-aspect-ratio: 1){

	.home_project{
		min-height:50dvh;
	}	

	.horizontal_image figure {
		min-height:65dvh;
	}

}